body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.superior {
    background-color: black;
    color: white;
    padding: 10px 20px;
    overflow: auto;
}

.logo {
    width: 120px;
    float: left;
}

.bloco-perfil {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.perfilcnjt, 
.texto-perfil {
    display: inline-block;
    vertical-align: middle;
}

.perfilcnjt img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.texto-perfil h6 {
    margin: 0;
    color: #aaaaaa;
}

.conteudo-principal {
    background-color: #555555;
    padding: 40px 20px;
    height: 790px;
}

.todoscards{
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

.adicionartitulo,
.buscartitulos,
.listartitulos,
.apagarid,
.removerultimo,
.limpatudo {
    background-color: white;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin: 15px;
    padding: 35px 20px;
    min-height: 280px;
    border-radius: 10px;
    box-shadow: 0 4px 10px black;
    box-sizing: border-box;
}

.todoscards h2 {
    margin-top: 0;
    color: black;
    font-size: 20px;
}

.todoscards p {
    color: #333333;
    font-size: 12px;
    min-height: 30px;
}

.icone-card {
    width: 100px;
    height: 100px;
    max-height: 100px;
    object-fit: contain;
    margin: 10px 0;
}

.todoscards button {
    background-color: #f59da1;
    color: #E50913;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
}

.todoscards button:hover {
    background-color: #e50914;
    color: white;
}
